@font-face {
    font-family: 'PixelArt';
    src: url('Chava.ttf');
}

html,
body {
    height: 100%;
}

body {
    position: relative;
    color: #E9E9E9;
    background: radial-gradient(rgba(24, 26, 33, 0) 0%, #181A21 100%), linear-gradient(rgba(255, 170, 127, 1) 0%, rgba(127, 127, 127, 1) 45%, rgba(85, 85, 85, 1) 57%, rgba(42, 42, 42, 1) 74%, rgba(42, 42, 42, 1) 100%);
    font-family: "PixelArt";
    font-weight: normal;
    margin: 0px;
}

.page_content {
    overflow: visible;
    height: 100%;
}

.upper_menu {
    position: fixed;
    z-index: 10;
    background-color: #2c1515;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 75%);
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

.upper_menu a {
    text-decoration: none;
    display: inline-block;
}

.upper_container {
    display: flex;
    justify-content: center;
}

.upper_container a img {
    padding-top: 10px;
    margin-right: 40px;
    max-width: 40px;
}

.upper_navigation a {
    padding: 28px 7px 7px 7px;
    font-size: 14px;
    color: #b8b6b4;
    text-transform: uppercase;
    cursor: pointer;
}

.upper_auth {
    margin: 0px 32px;
    position: absolute;
    right: 0;
    padding: 28px 3px 7px 3px;
    font-size: 14px;
    color: #b8b6b4;
    text-transform: uppercase;
    cursor: pointer;
}

.upper_auth a {
    color: #b8b6b4;
    margin-left: 4px;
    margin-right: 4px;
}

.center_content {
    position: relative;
    margin: 0px;
    padding: 0px 8px;
    max-width: 2305px;
    max-height: 1080px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgba(24, 26, 33, 0) 0%, #181A21 100%) fixed no-repeat, url(web_game_account.png) center top no-repeat, linear-gradient(rgba(255, 170, 127, 1) 0%, rgba(127, 127, 127, 1) 45%, rgba(85, 85, 85, 1) 57%, rgba(42, 42, 42, 1) 74%, rgba(42, 42, 42, 1) 100%);
}

.text_content {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 120px 20px;
    margin-bottom: 20px;
    background-color: rgba(24, 26, 33, 0.8);
}

.text_content p{
    padding: 8px 32px;
    font-family: "PixelArt";
    font-weight: normal;
    font-size: inherit;
}

.btn_edit{
    margin-top: 10px;
}

.btn_edit button{
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 75%);
    border: none;
    color: #b8b6b4;
    font-family: "PixelArt";
    background-color: #2c1515;
}

.upper_navigation a:hover,
.upper_auth a:hover {
    color: #ffffff;
}
